In [3]:
# Q1. Write a Python program to get the largest number from a list. 
# sample list : [9,4,3,18,7,16,14] 

q1 = [9,4,3,18,7,16,14] 

maximum = q1[0]

for i in q1:
    
    if i > maximum:
        
        maximum = i
             
print(maximum)

#alternative answers 


#answer : 1 
# print(max(q1))



#answer : 2

# q1 = [9,4,3,18,7,16,14] 

# q1.sort(reverse = True)


# print(q1[0])

18

In [9]:
# Q2. Write a Python program to remove duplicates from a list. 
# sample list : [10, 20, 30, 20, 10, 50, 60, 40, 80, 50, 40]


q2 = [10, 20, 30, 20, 10, 50, 60, 40, 80, 50, 40]

no_dupes = []


for i in q2:
    
    if i not in no_dupes:
        
        no_dupes.append(i)

print(no_dupes)



# alternative answer

# q2 = [10, 20, 30, 20, 10, 50, 60, 40, 80, 50, 40]


# set_q2 = set(q2)


# print(list(set_q2))

[40, 10, 80, 50, 20, 60, 30]

In [14]:
# Q3. Sort the following list [9,4,3,18,7,16,14] in decending order

q3 = [9,4,3,18,7,16,14]

q3.sort(reverse = True)

print(q3)

[18, 16, 14, 9, 7, 4, 3]

In [23]:
# Q4. Write a Python program to print the numbers of a specified list after removing even numbers from it. 
# sample list: [9,4,3,18,7,16,14] 

q4 = [9,4,3,18,7,16,14] 

q4_odd = []


for i in q4:
    
    if i % 2 != 0:
        
        q4_odd.append(i)

        
print("Final list : " , q4_odd)

Final list :  [9, 3, 7]

In [33]:
# Q5. (optional)

# Write a program to print the following start pattern using the for loop

# * 
# * * 
# * * * 
# * * * * 
# * * * * * 
# * * * * 
# * * * 
# * * 
# *


for i in range(1,6):
    
    for j in range(i):

        print("*", end = " ")
        
    print()
    
for i in range(4,0,-1):
    
    for j in range(i):
        
        print("*" , end = " ")
        
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

## Data Structures

In [42]:
#Data structure conversions
# list() > []    ### tuple()  > ()    ### set() > {}  ### dictionary : dict() > {}
 
#Tuple

t1 = (2,10,"mohamed","Ali")

t2 = (1,2,3,4)

t3 = t1 + t2

print(list((t3)))

(1, 2)

In [39]:
#type > shows the type of an object
k = "aksd"

type(k)

str

In [47]:
#Set

s = {2, 10, 'mohamed', 'Ali', 1, 2, 3, 4}

#add
s.add(15)

s.add(1.687)

#remove
s.remove("mohamed")

print(s)

{1, 2, 3, 4, 1.687, 10, 15, 'Ali'}

In [54]:
#Dictionary > every item is split into a key and a value

car = {"Brand" : "BMW" , "Color" : "Blue" , "Year" : 2005 , "Owners" : ["Ahmed" , "Ibrahim"]}


car["Brand"]

'BMW'

In [56]:
#Adding values to a dictionary

car["Country"] = "Germany"

print(car)

{'Brand': 'BMW', 'Color': 'Blue', 'Year': 2005, 'Owners': ['Ahmed', 'Ibrahim'], 'Country': 'Germany'}

In [57]:
#modifying values

car["Color"] = "Black"

print(car)

{'Brand': 'BMW', 'Color': 'Black', 'Year': 2005, 'Owners': ['Ahmed', 'Ibrahim'], 'Country': 'Germany'}

In [58]:
car["Year"] = [2006,2010]

print(car)

{'Brand': 'BMW', 'Color': 'Black', 'Year': [2006, 2010], 'Owners': ['Ahmed', 'Ibrahim'], 'Country': 'Germany'}

In [59]:
#remove

car.pop("Brand")


print(car)

{'Color': 'Black', 'Year': [2006, 2010], 'Owners': ['Ahmed', 'Ibrahim'], 'Country': 'Germany'}

In [62]:
car = {"Brand" : "BMW" , "Color" : "Blue" , "Year" : 2005 , "Owners" : ["Ahmed" , "Ibrahim"]}

car.pop("Color")

'Blue'

In [63]:
car["Horse Power"] = 300

print(car)

{'Brand': 'BMW', 'Year': 2005, 'Owners': ['Ahmed', 'Ibrahim'], 'Horse Power': 300}

In [64]:
car["Horse Power"] = 450

print(car)

{'Brand': 'BMW', 'Year': 2005, 'Owners': ['Ahmed', 'Ibrahim'], 'Horse Power': 450}

In [65]:
#looping in data structures
#list 
v1 = [9,4,3,18,7,16,14] 


for i in v1:
    
    print(i)

9
4
3
18
7
16
14

In [66]:
#tuple 
v2 = (9,4,3,18,7,16,14)

for i in v2:
    
    print(i)

9
4
3
18
7
16
14

In [67]:
#set
v3 = {9,4,3,18,7,16,14}

for i in v3:
    
    print(i)

16
18
3
4
7
9
14

In [70]:
#dictionary
car = {"Brand" : "BMW" , "Color" : "Blue" , "Year" : 2005 , "Owners" : ["Ahmed" , "Ibrahim"]}

for i in car.items():
    
    print(i)

('Brand', 'BMW')
('Color', 'Blue')
('Year', 2005)
('Owners', ['Ahmed', 'Ibrahim'])

In [73]:
car = {"Brand" : "BMW" , "Color" : "Blue" , "Year" : 2005 , "Owners" : ["Ahmed" , "Ibrahim"]}

for i in car.keys():
    
    print(i)

Brand
Color
Year
Owners

In [75]:
car = {"Brand" : "BMW" , "Color" : "Blue" , "Year" : 2005 , "Owners" : ["Ahmed" , "Ibrahim"]}

for i in car.values():
    
    print(i)

BMW
Blue
2005
['Ahmed', 'Ibrahim']

In [74]:
car.items()

car.keys()

car.values()

dict_values(['BMW', 'Blue', 2005, ['Ahmed', 'Ibrahim']])

In [80]:
#Ex..

#write a python program to count the occurances of values in a specified list
#using a dictionary


x = [10, 20, 30, 20, 10, 50, 60, 40, 80, 50, 40, 10, 10, 20, 50, 60]

d = dict()

for i in x:
    
    if i in d:
        
        d[i] += 1
        
    else:
        
        d[i] = 1
    
    
    print(d)



#alternative answer


# for i in x:
    
#     if i not in d:
        
#         d[i] = 1
        
#     else:
        
#         d[i] += 1
    
    
#     print(d)

{10: 1}
{10: 1, 20: 1}
{10: 1, 20: 1, 30: 1}
{10: 1, 20: 2, 30: 1}
{10: 2, 20: 2, 30: 1}
{10: 2, 20: 2, 30: 1, 50: 1}
{10: 2, 20: 2, 30: 1, 50: 1, 60: 1}
{10: 2, 20: 2, 30: 1, 50: 1, 60: 1, 40: 1}
{10: 2, 20: 2, 30: 1, 50: 1, 60: 1, 40: 1, 80: 1}
{10: 2, 20: 2, 30: 1, 50: 2, 60: 1, 40: 1, 80: 1}
{10: 2, 20: 2, 30: 1, 50: 2, 60: 1, 40: 2, 80: 1}
{10: 3, 20: 2, 30: 1, 50: 2, 60: 1, 40: 2, 80: 1}
{10: 4, 20: 2, 30: 1, 50: 2, 60: 1, 40: 2, 80: 1}
{10: 4, 20: 3, 30: 1, 50: 2, 60: 1, 40: 2, 80: 1}
{10: 4, 20: 3, 30: 1, 50: 3, 60: 1, 40: 2, 80: 1}
{10: 4, 20: 3, 30: 1, 50: 3, 60: 2, 40: 2, 80: 1}

In [107]:
#bubble sort algorithm

x = [4,3,9,18,7,16,14]  #i = 6 , i+1 = 7 x[7]

for j in range(len(x)):
    
    for i in range(len(x)-1):  #0 1 2 3 4 5 

        if x[i] > x[i+1]:

            x[i],x[i+1] = x[i+1],x[i]

print(x)

[3, 4, 7, 9, 14, 16, 18]

In [117]:
#Nested loops

for j in range(2):  # 0 1
    
    print("A")
    
    for i in range(3): # 0 1 2

        print("B")

A
B
B
B
A
B
B
B

In [125]:
#WaterMelon

w = int(input())


if w == 2:
    
    print("No")
    
elif w % 2 == 0:
    
    print("Yes")
    
else:
    
    print("No")


#alternative solution

# if w % 2 == 0 and w > 2:
    
#     print("Yes")
    
# else:
    
#     print("No")

15
No

In [143]:
#split - join
# split : splits a string into a list
# join : join a list into a string
#sort the names in the string in alphabitical

x = "mohamed-ali-ibrahim-khaled-ahmed"

splitted = x.split("-")  ### ['mohamed', 'ali', 'ibrahim', 'khaled', 'ahmed']


splitted.sort()   ### ['ahmed', 'ali', 'ibrahim', 'khaled', 'mohamed']

joined = "-".join(splitted)

print(joined)

ahmed-ali-ibrahim-khaled-mohamed